@font-face {
            font-family: 'ComicSansWeb';
            src: url('fonts/ComicSansMS.woff2') format('woff2'),
                 url('fonts/ComicSansMS.woff') format('woff');
            /* Add other formats like .ttf, .otf for broader compatibility */
            font-weight: normal;
            font-style: normal;
        }
body {
font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
align-items: center;
align-self: center;
text-align: center;
}
