@font-face {
            font-family: 'ComicSansWeb';
            src: url('fonts/ComicSansMS.woff2') format('woff2'),
                 url('fonts/ComicSansMS.woff') format('woff');
            /* Add other formats like .ttf, .otf for broader compatibility */
            font-weight: normal;
            font-style: normal;
        }
body {
font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
h1 {
  text-align: center;
  font-size: 100;
  font-family: 'Comic Sans MS';
   z-index: 10;
}
.ohne {
  text-align: left;
  align-items: left;
  align-self: left;
  float: left;
  width: 125;
  height: 125;
  margin: 0 220 0;
   z-index: 10;
}
.ohne2 {
   text-align: left;
  align-items: left;
  align-self: left;
  float: right;
  width: 125;
  height: 125;
  margin: 0 220 0;
   z-index: 10;
}
p1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
   z-index: 10;
}
p4 {
  text-align: center;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
   z-index: 10;
}
pd {
  text-align: center;
 font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  z-index: 10;
}
.texter {
 max-width: 1367px;
}
p {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  text-align: center;
  z-index: 10;
}
